


<body>


  <header>
    <h1 class="page-title">My Projects</h1>
  </header>

  <section class="main-content">
    
    <p class="section-description">
      I have a track record of taking on difficult personal projects and finishing them effectively. My skills have significantly increased as a result of these experiences, and I now feel more confident to take on new and more demanding projects. A handful of these projects are shown here as examples.
    </p>

    

  <div class="section" id="portfolio">
    <div class="container">
      <h2 class="display-4 mb-5"></h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="your_image_url.jpg" class="card-img-top" alt="Project 1">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Description of the project.</p>
              <a href="#" class="btn btn-dark">Learn More</a>
            </div>
          </div>
         </div>
           <div class="col-md-4 mb-4">
          <div class="card">
            <img src="your_image_url.jpg" class="card-img-top" alt="Project 1">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Description of the project.</p>
              <a href="#" class="btn btn-dark">Learn More</a>
            </div>
          </div>
         </div>

            <div class="col-md-4 mb-4">
          <div class="card">
            <img src="your_image_url.jpg" class="card-img-top" alt="Project 1">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Description of the project.</p>
              <a href="#" class="btn btn-dark">Learn More</a>
            </div>
          </div>
         </div>



      </div>
    </div>
  </div>


<!-- <div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
 -->